#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.exe
!build/nuget.exe
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/

#Ignore temporary word files
~*.docx

#Ignore build output
*.nupkg